<div class="container-fluid bg-light">
  <div class="container bg-light">

    <div class="row mt-4" style="height: 500px;">
      <!-- <div class="col-md-3"></div> -->
      <div class="col-md-12 bg-white shadow">

        <div class="card bg-warning mt-4">
          <h4 class="text-white p-3 pt-2 pb-2">To Do App</h4>
        </div>

        <div class="shadow">
          <div class="input-group p-4">
            <input type="text" class="form-control" placeholder="Enter task " name="task" [(ngModel)]="addTaskValue">
            <button class="btn btn-outline-success" type="button" (click)="addTask()">+</button>
          </div>
        </div>

        <h4 class="text-primary mt-4">Tasks : </h4>

        <div style="overflow-y: auto; height: 350px;">
          <div class="m-3 " *ngFor="let task of taskArr; let i = index">
            <div class="p-2 card" id="tasks">
              <div class="row">
                <div class="col-md-10">
                  <span>{{task.task_name}}</span>
                </div>
                <div class="col-md-2 text-right">
                  <button data-bs-toggle="modal" type="button"
                  data-bs-target="#exampleModal"   (click)="call(task, i)"><i class="fa fa-pencil"   aria-hidden="true"></i></button>
                  <button type="button"  (click)="deleteTask(task, i)"><i class="fa fa-trash"    aria-hidden="true"></i></button>

               </div>
                </div>

              <!-- <div class="input-group row ps-3">
                <div class="card col-md-10 border-0">
                  <div class="row">
                    <div class="col-md-11">
                      <span>{{task.task_name}}</span>
                    </div>
                    <div class="col-md-1">


                       <span data-bs-toggle="modal" type="button"
                       data-bs-target="#exampleModal" style="color: blue; font-weight: bold;"  (click)="call(task, i)">E</span>
                       <span type="button"  style="color: red; font-weight: bold"  (click)="deleteTask(task, i)">D</span>

                    </div>
                  </div>

                </div>

              </div> -->



              <!-- <div class="row">

                                <div class="col-md-10 ">
                                 <span>{{task.task_name}}</span>

                                </div>
                                <div class="col-md-2">
                                  <span >
                                    <i class="far fa-trash-alt text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"  style="cursor: pointer"
                                    (click)="call(task, i)" ></i>
                                  </span>
                                  <span >
                                    <i class="far fa-trash-alt text-danger" style="cursor: pointer"
                                    (click)="deleteTask(task,i)"></i>
                                  </span>
                                </div>

                              </div> -->
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="input-group p-4">
                  <input type="text" class="form-control" placeholder="Enter task " name="task"
                    [(ngModel)]="editTaskValue">
                  <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal"
                    (click)="editTask()">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="col-md-3"></div> -->

    </div>

  </div>
</div>
